<!DOCTYPE html>
<html>
<head>
	<title>Wallpapers</title>
</head>
<body>
	<h2>Wallpapers</h2>
	<hr/>
	<div class="row">
		<div class="col-lg-4">
			<form id="image-form">
				
				<div class="form-group">
					<label for="category">Select Category</label>
					<select id="category" class="form-control">
						
					</select>
				</div>

				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" id="title" class="form-control">
					<div class="invalid-feedback">Please enter title</div>
				</div>

				<div class="form-group">
					<label for="wallpaper">Wallpaper</label>
					<input type="file" id="wallpaper" class="form-control" style="height: auto;">
					<div class="invalid-feedback">Please choose a valid thumbnail</div>
				</div>

				<div class="form-group">
					<button type="button" id="btn-save" class="btn btn-primary">Save Wallpaper</button>
				</div>
			</form>
		</div>

		<div class="col-lg-8">
            <div class="form-group">
                <img id="wallpaper-preview" width="700" height="400" />
            </div>
			<div class="form-group">
                <div class="progress">
                    <div class="progress-bar" id="upload-progress" style="width:0%">0%</div>
                </div>
            </div>
		</div>
	</div>

    <script type="text/javascript" src="js/wallpapers.js"/>
</body>
</html>